*
                    *                  ,▄▄#ΦÑ█
      Flightdeck                  ,▄#Φ▀   ░░░▓
    ==============             ,æM▀▄   ░░░░░▓
    LAMP stack for          ,m╜`    ▀▒░░░░░▓
    Docker and K8s       ,▄╜╓æª*ª≡▄  ╙▀▓░░▓
                       ╓M' ▀,      ▀@»»░▓▀          *
                     ▄╨   ║▌ /\**/\ ▌»»▄▀
          ,╓╓æ#MMM╦▄╨    »╙▓(  'w` )▀ ▀
      ,▄▌▒░     ░▓╨   »»»»»─▀Φ▄▒▒Æ▀»▄▀                    *
           -╙▀▄▒▀   »»»»»»»»»»»»»»▄▀
              ▓   »»»»»»»»»»»»»»▄▀
              ▓▓ »»»»»»»»»»»»»▄▀      {{ flighdeck_motd_name }}
    *         ▀▓█▄ »»»»»»»»»▓▓
           ╔▓Φ╗▀▓██▓▄»»»»»▓▀░▌
          ╣▓╫╫╫╣▄╙▀▀▀▀▀▀▀▌░░░▓
         ╣╜╟▓▓╬▓▀        ▀░░░▀           *
          ▄▓▀╙            ░░▀
         `                █▀

{{''}}
{% for item in flightdeck_motd_links %}
  {{ item.name }}: {{ item.url }}
{% endfor %}
{{''}}
